<footer class="footer">
<a class="scroll_link" href="#header">
 <span class="footer_scroll">
<img src="./assets/images/ico-arrow.svg" alt="Scroll" title="Scroll" class="footer_scroll_icon">
 </span>
 </a>
  <div class="footer_wrapper">
    <div class="footer_menu">
        <nav class="footer_menu_options">
            <ul>
              <li>
                <a href="http://adalab.es" title="Go to Articles">Articles</a>
              </li>
              <li>
                <a href="http://adalab.es" title="Go to Books">Books</a>
              </li>
              <li>
                <a href="http://adalab.es"title="Ir a Events">Events</a>
              </li>
              <li>
                <a href="http://adalab.es" title="Ir a Reasons">Reasons</a>
              </li>
              <li>
                <a href="http://adalab.es" title="Ir a Contact">Tips</a>
              </li>
            </ul>
          </nav>
    </div>
    <div class="footer_menu_direction_socialmedia">
        <ul>
          <li>
            <a href="http://adalab.es"title="Go to Twitter" >Twitter</a>
         </li>
         <li>
           <a href="http://adalab.es" title="Go to Instagram" >Instagram</a>
        </li>
        <li>
          <a href="http://adalab.es" title="Go to Mastodon">mastodon.social</a>
        </li>
      </ul>
    </div>
    <div class="footer_copyright">
        <small class="copyright">©2017</small>
        <small class="copyright-text">we 
            <span class="heart-emoji">♥</span> components
        </small>
    </div>
</footer>



