<main>
  <section class="section_window">
    <small class="section_window_subtitle">Insomnia Tips</small>
    <h2 class="section_window_title">looking through a window</h2>
    <p class="section_window_text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <span class="section_window_link_container"
      ><a
        class="section_window_button"
        title="Go to Adalab"
        href="https://adalab.es/"
      >
        Go
      </a>
    </span>
  </section>
  <section class="section_reasons" id="section_reasons">
    <h2 class="section_reasons_title">3 Reasons To Purchase</h2>
    <div class="section_reasons_article1">
      <h3 class="section_reasons_article1_title">Ut sed metus</h3>
      <p class="section_reasons_article1_text">
        Lorem ipsum dolor sit amet, consecteur.
      </p>
    </div>
    <div class="section_reasons_article2">
      <h3 class="section_reasons_article2_title">Curabitur ac erat</h3>
      <p class="section__reasons_article2_text">
        Mauris mattis urna quis lorem molestie.
      </p>
    </div>
    <div class="section_reasons_article3">
      <h3 class="section_reasons_article3_title">Morbi dictum</h3>
      <p class="section_reasons_article3_text">
        Aliquam in dolor et dolor tincidunt.
      </p>
    </div>
    <div class="section_reasons_article4">
      <a
        class="section_reasons_button"
        title="Go to Adalab"
        href="https://adalab.es/"
        >More reasons</a
      >
    </div>
  </section>
</main>
