// fonts
$font-main: "Roboto Slab", serif;

// colors
$color-white: #ffffff;
$color-darkblue: #304268;
$color-cerulean: #0271bc;
$color-lightblue: #8ccbea;
$color-brightorange: #f26002;
$color-black: #000000;
$color-greybrown: #4a4a4a;
$color-iceblue: #eff9ff;
$color-black50: rgba(0, 0, 0, 0.5);

// breakpoints
$tablet: 768px;
$desktop: 1200px;
